@require './basic'
body
  background #08c
.wrap
  max-width 612px
  margin 0 auto 0 20px
  padding 20px
  position relative
  z-index 2
  background #fff
  min-height 100%

#container
#bg
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  z-index 1
#container
  z-index 2
  overflow scroll
.header
  .logout-tip
    display none
  &:hover .logout-tip
    display inline-block
.rc-choice
  width 100%